/*select div*/
.select-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*make text to center*/
    text-align: center;
}